.App {
  width: 960px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 1000px) {
  .App {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}